In [1]:
import pandas as pd

rows = [
    # Group A
    ("A", "Morocco", 11), ("A", "Mali", 54), ("A", "Zambia", 90), ("A", "Comoros", 108),
    # Group B
    ("B", "Egypt", 34), ("B", "South Africa", 61), ("B", "Angola", 89), ("B", "Zimbabwe", 129),
    # Group C
    ("C", "Nigeria", 38), ("C", "Tunisia", 40), ("C", "Uganda", 85), ("C", "Tanzania", 112),
    # Group D
    ("D", "Senegal", 19), ("D", "DR Congo", 56), ("D", "Benin", 92), ("D", "Botswana", 138),
    # Group E
    ("E", "Algeria", 35), ("E", "Burkina Faso", 62), ("E", "Equatorial Guinea", 97), ("E", "Sudan", 118),
    # Group F
    ("F", "Côte d’Ivoire", 42), ("F", "Cameroon", 57), ("F", "Gabon", 78), ("F", "Mozambique", 102),
]

df = pd.DataFrame(rows, columns=["group", "team", "fifa_rank"])
df

   group               team  fifa_rank
0      A            Morocco         11
1      A               Mali         54
2      A             Zambia         90
3      A            Comoros        108
4      B              Egypt         34
5      B       South Africa         61
6      B             Angola         89
7      B           Zimbabwe        129
8      C            Nigeria         38
9      C            Tunisia         40
10     C             Uganda         85
11     C           Tanzania        112
12     D            Senegal         19
13     D           DR Congo         56
14     D              Benin         92
15     D           Botswana        138
16     E            Algeria         35
17     E       Burkina Faso         62
18     E  Equatorial Guinea         97
19     E              Sudan        118
20     F      Côte d’Ivoire         42
21     F           Cameroon         57
22     F              Gabon         78
23     F         Mozambique        102

In [2]:
market_values = [
    ("Morocco", 435.9), ("Mali", 143.4), ("Zambia", 21.6), ("Comoros", 18.9),
    ("Egypt", 136.4), ("South Africa", 44.5), ("Angola", 55.3), ("Zimbabwe", 10.3),
    ("Nigeria", 285.8), ("Tunisia", 69.1), ("Uganda", 8.1), ("Tanzania", 6.6),
    ("Senegal", 410.9), ("DR Congo", 131.9), ("Benin", 13.4), ("Botswana", 2.5),
    ("Algeria", 235.6), ("Burkina Faso", 118.1), ("Equatorial Guinea", 18.7), ("Sudan", 2.8),
    ("Côte d’Ivoire", 374.3), ("Cameroon", 262.3), ("Gabon", 31.5), ("Mozambique", 24.9),
]

df_value = pd.DataFrame(market_values, columns=["team", "market_value_million_eur"])

In [3]:
df_merged = pd.merge(df, df_value, on="team")

In [4]:
df_merged

   group               team  fifa_rank  market_value_million_eur
0      A            Morocco         11                     435.9
1      A               Mali         54                     143.4
2      A             Zambia         90                      21.6
3      A            Comoros        108                      18.9
4      B              Egypt         34                     136.4
5      B       South Africa         61                      44.5
6      B             Angola         89                      55.3
7      B           Zimbabwe        129                      10.3
8      C            Nigeria         38                     285.8
9      C            Tunisia         40                      69.1
10     C             Uganda         85                       8.1
11     C           Tanzania        112                       6.6
12     D            Senegal         19                     410.9
13     D           DR Congo         56                     131.9
14     D              Benin         92                      13.4
15     D           Botswana        138                       2.5
16     E            Algeria         35                     235.6
17     E       Burkina Faso         62                     118.1
18     E  Equatorial Guinea         97                      18.7
19     E              Sudan        118                       2.8
20     F      Côte d’Ivoire         42                     374.3
21     F           Cameroon         57                     262.3
22     F              Gabon         78                      31.5
23     F         Mozambique        102                      24.9

In [5]:
df=df_merged

In [6]:
df["is_host"] = (df["team"] == "Morocco").astype(int)

In [8]:
df_elo = pd.DataFrame([
    ("A", "Morocco", 1855),
    ("A", "Mali", 1685),
    ("A", "Zambia", 1605),
    ("A", "Comoros", 1505),

    ("B", "Egypt", 1715),
    ("B", "South Africa", 1650),
    ("B", "Angola", 1585),
    ("B", "Zimbabwe", 1465),

    ("C", "Nigeria", 1735),
    ("C", "Tunisia", 1690),
    ("C", "Uganda", 1545),
    ("C", "Tanzania", 1495),

    ("D", "Senegal", 1840),
    ("D", "DR Congo", 1670),
    ("D", "Benin", 1535),
    ("D", "Botswana", 1435),

    ("E", "Algeria", 1710),
    ("E", "Burkina Faso", 1640),
    ("E", "Equatorial Guinea", 1515),
    ("E", "Sudan", 1450),

    ("F", "Côte d’Ivoire", 1765),
    ("F", "Cameroon", 1695),
    ("F", "Gabon", 1575),
    ("F", "Mozambique", 1500),
], columns=["group", "team", "elo"])
df=pd.merge(df, df_elo[['team', 'elo']], on='team')

In [9]:
df

,group,team,fifa_rank,market_value_million_eur,is_host,elo
0,A,Morocco,11,435.9,1,1855
1,A,Mali,54,143.4,0,1685
2,A,Zambia,90,21.6,0,1605
3,A,Comoros,108,18.9,0,1505
4,B,Egypt,34,136.4,0,1715
5,B,South Africa,61,44.5,0,1650
6,B,Angola,89,55.3,0,1585
7,B,Zimbabwe,129,10.3,0,1465
8,C,Nigeria,38,285.8,0,1735
9,C,Tunisia,40,69.1,0,1690
10,C,Uganda,85,8.1,0,1545
11,C,Tanzania,112,6.6,0,1495
12,D,Senegal,19,410.9,0,1840
13,D,DR Congo,56,131.9,0,1670
14,D,Benin,92,13.4,0,1535
15,D,Botswana,138,2.5,0,1435
16,E,Algeria,35,235.6,0,1710
17,E,Burkina Faso,62,118.1,0,1640
18,E,Equatorial Guinea,97,18.7,0,1515
19,E,Sudan,118,2.8,0,1450
20,F,Côte d’Ivoire,42,374.3,0,1765
21,F,Cameroon,57,262.3,0,1695
22,F,Gabon,78,31.5,0,1575
23,F,Mozambique,102,24.9,0,1500

In [10]:
df['team'].unique()

array(['Morocco', 'Mali', 'Zambia', 'Comoros', 'Egypt', 'South Africa',
       'Angola', 'Zimbabwe', 'Nigeria', 'Tunisia', 'Uganda', 'Tanzania',
       'Senegal', 'DR Congo', 'Benin', 'Botswana', 'Algeria',
       'Burkina Faso', 'Equatorial Guinea', 'Sudan', 'Côte d’Ivoire',
       'Cameroon', 'Gabon', 'Mozambique'], dtype=object)

In [11]:
df.to_csv("forme_equipe.csv", index=False)